# Server Configuration
PORT=3000
API_PREFIX=api/v1
NODE_ENV=development

# Mental API
MENTAL_API_URL=https:....

# Kafka Configuration
KAFKA_BROKERS=localhost:9093
KAFKA_CLIENT_ID=kafka-templateHandler
KAFKA_GROUP_ID=kafka-templateHandler-consumer

KAFKA_CA = ./certs/ca-certificate.crt
KAFKA_CERT=./certs/user-access-certificate.crt
KAFKA_KEY=./certs/user-access-key.key
KAFKA_SSL=true


# Swagger Configuration
SWAGGER_TITLE=Template Handler Worker
SWAGGER_DESCRIPTION=A microservice that handles template generation
SWAGGER_VERSION=0.0.1

# CORS Configuration
CORS_ENABLED=true
CORS_ORIGIN=*

# Sentry Configuration
SENTRY_DSN=your-sentry-dsn
SENTRY_AUTH_TOKEN=your-sentry-auth-token-for-CI
SENTRY_ENVIRONMENT=development

# Change this in production to 0.1 or similar
# 1.0 means 100% of transactions will be sent to Sentry
# We dont want be charged for running out of spans/traces/profiles
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0

SENTRY_DEBUG=false